
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}
    
            <div class="card" style="width: 18rem">
                <img src="{{object.image.url}}" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">{{object.name}}</h5>
                <p class="card-text">${{object.price}}</p>
                <p class="card-text">{{object.desc}}</p>


                {% if request.user.is_authenticated %}
                <a href="/compra" class="btn btn-primary">Comprar</a>
                 {% else %}
                
                <a href="/comprafallida" class="btn btn-primary">Comprar</a>
               
              
                {% endif %}
            

          </div>
        </div>
    {% endblock %}
