
    {% extends "AppFinal/padre.html" %}
    
    {% block Contenido %}
    <h1>
      Productos del día
    </h1>
    {% for producto in productos %}
    
        {% if producto.stock == True %}
       

            
            <div class="card" style="width: 18rem">
                <img src="{{producto.image.url}}" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">{{producto.name}}</h5>
                <p class="card-text">${{producto.price}}</p>

                {% if request.user.is_authenticated %}
                  <a href="/compra" class="btn btn-primary">Comprar</a>
                  <a href="/detalleproductos/{{producto.id}}/" class="btn btn-primary">Detalles</a>
                {% else %}
                  
                  <a href="/comprafallida" class="btn btn-primary">Comprar</a>
                  <a href="/detalleproductos/{{producto.id}}/" class="btn btn-primary">Detalles</a>
                
                
              {% endif %}

                </div>
            </div>
    
        {% endif %}
        {% endfor %}
        {% endblock %}
