<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    {% extends "AppFinal/padre.html" %}A
    {% block Contenido %}
    {% for producto in productos %}
        {% if producto.stock == True %}

    
            <div class="card" style="width: 18rem">
                <img src="{{product.imagen.url}}" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">{{producto.name}}</h5>
                <p class="card-text">${{producto.price}}</p>
                <p class="card-text">{{producto.SKU}}</p>
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <a href="/detalle-productos/{{producto.id}}/" class="btn btn-primary">Detalle</a>
                    {% else %}
                    <a href="#" class="btn btn-primary">Comprar</a>
                    
                    
                {% endif %}
                </div>
            </div>

    
        {% endif %}
   {% endfor %}

     
   {% endblock %} 
    
    
</body>
</html>