<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}

    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="max-width: 270px" src="../media/michu.jpeg" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Michelle Bartfeld</h5>
                  <p class="card-text">Mi nombre es Michelle, tengo 25 años y soy Economista. Trabajo actualmente en Mercado Libre como Analista de Datos en el area de Prevencion de Fraude. 
                    Me interesó el curso de Python ya que pretendo enfocarme en la ciencia de datos. Habiendo estudiado economía, me surge la necesidad de adquirir nuevas herramientas de programación con el fin de incursionar en el mundo de Machine Learning.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Morena Sandroni</h5>
                  <p class="card-text">Aca falta la info de more</p>
                </div>
              </div>
              <div class="col-md-4">
                <img style="max-width: 270px;float:right" class="img-fluid" src="../media/producto_image/pixel_cyberpunk_city_by_frozenwanderer_dezjvq2.png" >
              </div>
            </div>
          </div> 
          <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="max-width: 270px" src="../media/yo.jpeg" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Nahuel Saldaña</h5>
                  <p class="card-text">Mi nombre es Nahuel, tengo 21 años y de momento no curso ninguna carrera. Actualmente trabajo en el sector administrativo de un taller de inyeccion diesel, encargandome asi de cuestiones con la AFIP y
                    de gestionar las publicaciones de mercadolibre. Mi interes en el curso de Python se debe a que siempre fui autodidacta con la programacion, desde los 12 años. Pero ahora me interesa realmente seguir la carrera, por lo cual necesito incursionar dentro de los distintos lenguajes, y Python me parecio el indicado para comenzar.
                  </p>
                </div>
              </div>
            </div>
          </div>
    </div> 

    {% endblock %}
    {% block Contenido2 %}
    {% endblock %}
</body>
</html>