<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>About</h2>
                    <p class="lead"> Aca irian nuestros datos, algo de info del proyecto y fotos nuestras de presentacion </p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
</body>
</html>