<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}
       
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ProyectoFinal Coderhouse</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppFinal/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand"  style= "color: #020202" href="{% url 'Index' %}">PyCommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon"  ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
                        <li class="nav-item" ><a class="nav-link active" style= "color: #020202" aria-current="page" href="{% url 'Index' %}">Home</a></li>
                        <li class="nav-item" ><a class="nav-link" style= "color: #020202" href="{% url 'Productos' %}"}>Productos</a></li>
                        <li class="nav-item" ><a class="nav-link" style= "color: #020202" href="{% url 'Busqueda' %}"}>Busqueda</a></li>
                        <li class="nav-item" ><a class="nav-link" style= "color: #020202"href="{% url 'Registrarse' %}">Registrarse</a></li>
                        <li class="nav-item" ><a class="nav-link" style= "color: #020202" href="{% url 'IniciarSesion' %}">Iniciar Sesion</a></li>
                        <li class="nav-item" ><a class="nav-link" style= "color: #020202" href="{% url 'Reseñas' %}"}>Reseñas</a></li>
                        <li class="nav-item" ><a class="nav-link" style= "color: #020202" href="{% url 'Nosotros' %}">Nosotros</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" style= "color: #020202"  href="{% url 'WishList' %}"}>WishList</a></li>
                            <li class="nav-item"><a class="nav-link"  style= "color: #020202" href="{% url 'Perfil' user.id %}"}>Perfil</a></li>
                            <li class="nav-item"><a class="nav-link"  style= "color: #020202" href="{% url 'CerrarSesion' %}"}>Cerrar Sesion</a></li>
                            
                        {% endif %}
                    </ul>
 
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://styles.redditmedia.com/t5_5blkvq/styles/communityIcon_t5ji6wuld2z71.jpg?width=256&s=dae99dd907ada5aea7e270a058a6b39805fc6e16" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">PyCommerce</h1>
                <p class="text-white-50 mb-0">El kiosco de tus programadores de confianza!</p>
            </div> 
        </header>
        <div class="text-center my-5">
            <br>
        </div>

        <!-- Content section-->
        <div class="d-flex" style="margin-bottom:5rem; justify-content: space-evenly;">

        {% block Contenido %}
        




        {% endblock %}
        </div>
     
        {% block Contenido2 %}

        {% endblock %}
        <!-- Footer-->
        
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; CoderHouse Python 2022</p></div>
            <div class="container"><p class="m-0 text-center text-white">&copy; Bartfeld Michelle , Sandroni Morena y Saldaña Nahuel </p></div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-1 mx-auto">
                    <br>
                    <a class="nav-link" style= "color: #ffffff" href="{% url 'Nosotros' %}">Nosotros</a></li>
                    <a class="nav-link" style= "color: #ffffff" href="{% url 'Reseñas' %}"}>Reseñas</a></li>
                </div>
            </div>
        </div>        
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        
    </body>
</html>
