<!DOCTYPE html>
<html lang="en">
<head>

    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    {% extends "AppFinal/padre.html" %}
    
    {% block Contenido %}
    
    {% for producto in productos %}
    
        {% if producto.stock == True %}

    
            <div class="card" style="width: 18rem">
                <img src="{{producto.imagen.url}}" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">{{producto.name}}</h5>
                <p class="card-text">${{producto.precio}}</p>
                <p class="card-text">{{producto.sku}}</p>
                {% if request.user.is_authenticated and request.user.is_superuser %}
                  <a href="/compra" class="btn btn-primary">Comprar</a>
                  
                {% else %}
                  <a href="/detalleproductos/{{producto.id}}/" class="btn btn-primary">Detalles</a>
                  <a href="/comprafallida" class="btn btn-primary">Comprar</a>
                
                
              {% endif %}
                </div>
            </div>
    
        {% endif %}
        {% endfor %}
        {% endblock %}

    
    


    
</body>
</html>