<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Signup</h2>
                    <p class="lead"> DESPUES FIJARSE EL TEMA DEL QUE EL REGISTER Y EL LOGIN ESTEN JUNTOS, Y EL LOGOUT NO SEA UNA OPCION MOSTRABLE EN LA NAVBAR </p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>