
    {% extends "AppFinal/padre.html" %}
    
    {% block Contenido %}

    {% if messages %}
        <div class="alert alert-warning" alert-{{ message.tags }}" role="alert">
        {% for message in messages  %}
            {{message|safe}} - <a href="{% url 'WishList' %}" class="alert-link">Your Wishlist</a>.
        {% endfor %}
        </div>
    {% endif %}

    {% if wishlist %}
  {% for product in wishlist %}

  <div class="card mb-3 rounded-0">
    <div class="row g-0">
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price}}</p>
          <a type="button" class="btn btn-primary fw500 btn-sm" href="{% url 'user_wishlist' product.id %}">Remove from Wishlist</a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  <a href="/compra" class="btn btn-primary">Comprar WishList</a>
  {% else %}
  <p class="card-text">Aun no se han agregado productos!</p>
  {% endif %}



</div>

{% endblock %}
